@tailwind components;

@layer components {
    .button {
        @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg transition transform duration-100 ease-out active:scale-95 active:bg-gray-100;
    }

    .scale-102:hover {
        transform: scale(1.01);
    }

    .h-273 {
        height: 279px;
    }

    .w-273 {
        width: 279px;
    }

    .line-height-70 {
        line-height: 70px;
    }

    .line-height-45 {
        line-height: 45px;
    }

    .top-200 {
        top: 300px;
    }

    .-mb-90 {
        margin-bottom: -570px;
    }
}